#fondopaginaprincipal{
	
	background-color:#808080;
}

#formulario{
	
	border-radius:25px;
	width:200px;
	height:20px;
	position:relative;
	top:300px;
	left:300px;
	background-color:#c0c0c0;
	padding:40px;
}
#tablacabecera{
	background-color:#c0c0c0;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:200px;

}

#imagencabecera{
	
	width:300px; 
	height:160px;
	margin-left:500px;

}

#tablapiepagina{
	
	background-color:#5C5C5C;
	position:absolute;
	bottom:0px;
	left:0px;
	width:100%;
	height:100px;
	color:white;
}

.menuscabecera{
	
	text-decoration:none; 
	color:black;
	
}
body{
background-color:#c0c0c0;
}

#tablas{

position:absolute;
	top:150px;
	left:40%;
}

.redireccionvolver{
	
	text-decoration:none; 
	color:black;
}

.redirecciones{
	
	 width:200px;
	 border-radius:25px;
	 background-color:#808080; 
	 padding:20px;
	
}

::placeholder {
  
  font-size:25px;
}

.usuario{
	height:80px;
	padding:20px;
}

.datos{
	
	width:300px;
	height:50px;
	padding:10px;
	border-radius:25px;
	 font-size: 20px;
}


#boton{

text-decoration:none; 
color:black;
}

#enviar{
	
	width:250px;
	padding:10px;
	border-radius:25px;
}

#sesioniniciada{
	
	color:#c0c0c0;
}

.paginacion ul {
	list-style: none;
	position:absolute;
	left:500px;
}

.paginacion ul li {
	display: inline-block;
	margin-right: 10px; 
}

.paginacion ul .active a {
	background: #ce7f08;
}

.paginacion ul .disabled {
	background: #c8c8c8;
	display: inline-block;
	font-family: "Oswald", Arial, helvetica, sans-serif;
	padding: 15px 25px;
	cursor:not-allowed;
	color:#fff;
	text-decoration: none;
}

.paginacion ul li a {
	display: inline-block;
	font-family: "Oswald", Arial, helvetica, sans-serif;
	padding: 15px 25px;
	background: #424242;
	color:#fff;
	text-decoration: none;
}

.paginacion ul li a:hover {
	text-decoration: none;
	background: #3299bb;
}


#gif{
	margin-top:250px;
	margin-left:40%;
}



